mnt
temp
fs.img
usertests/kernel/syscall.h
fork_test/*
!fork_test/Makefile
hello_world/*
!hello_world/Makefile
pipe_test/*
!pipe_test/Makefile
systime_test/*
!systime_test/Makefile
uname_test/*
!uname_test/Makefile
